body {
  display: flex;
  justify-content: center;
  background-color: #76c4bc;
}

form {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin-top: 20vh;
}

label {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 15px;
}

h1 {
  text-align: center;
}

form button {
  margin: 10px auto;
  width: 100px;
  height: 30px;
  border-radius: 15px;
  background-color: #00796B;
  color: white;

}